@{
    ViewData["Title"] = "Sobre nós";
    Layout = "_LayoutLogin";
}

<div class="container-fluid container-body">
    <section class="section-home2">
        <div class="row principal" id="divPrincipal2">
            <div class="col texto" id="divTextoHome2">
                <p class="home-title" style="text-align:center !important;" id="home2">O projeto Sistema Integrado de Informações Internas (SI³)</p><br>
                <p class="legenda align-items-center justify-content-center" style="display:flex;" id="legenda2">Um ambiente feito por estudantes, para estudantes </p><br>
                <p class="descricao" id="descricao2">Somos <strong>Cássia</strong> e <strong>Kevin</strong>, estudantes do curso de  Análise e Desenvolvimento na Faculdade de Tecnologia (FATEC) de Guarulhos e criamos este projeto como Trabalho de Graduação, tendo como objetivo aproximar as pessoas dos mais diferentes cursos oferecidos pela instituição de ensino.<br /> Observamos, durante nosso período estudando na Fatec que existe uma deficiência no que se diz respeito ao <i>networking</i> entre alunos de diferentes cursos. Foi possível observar, inclusive, em nossa classe. Foi com esse problema em mente que surgiu a ideia de trazer uma rede social focada para os internos da Fatec Guarulhos. A rede social tem como objetivo divulgar perfis de estudantes, além de informações que são de interesse de todos na instituição. Esperamos que gostem! E vamos para cima, Fatec Guarulhos!</p><br>
            </div>
        </div>
    </section>
</div>

