@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<div class="container-fluid container-body">
    <section class="section-home2">
        <div class="row principal" id="divPrincipal2">
            <div class="col texto" id="divTextoHome2">
                <p class="legenda align-items-center justify-content-center" style="display:flex;" id="legenda2">Deseja entrar em contato conosco? </p><br><br />
                <a class="descricao" id="descricao2" href="https://www.fatecguarulhos.edu.br/"target="_blank">Site oficial Fatec Guarulhos</a><br><br /><br />
                <a class="descricao" id="descricao2" href="mailto:secretaria@fatecguarulhos.edu.br"target="_blank">secretaria@fatecguarulhos.edu.br</a><br><br /><br />
                <a class="descricao" id="descricao2" href="https://www.linkedin.com/in/Kevin-Rick" target="_blank">Linkedin - Kevin</a><br><br /><br />
                <a class="descricao" id="descricao2" href="https://github.com/KevinRickelme" target="_blank">GitHub - Kevin</a><br><br /><br />
                <a class="descricao" id="descricao2">Se preferir ligue para Fones: (11) 2229-0392 / (11) 2229-0393</a><br /><br /><br />
            </div>
        </div>
    </section>
</div>

