

html {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F6F6F6 !important;
}

.htmlLayout {
    width: 92% !important;
}

.container-body {
    width: 92% !important;
}


.container-fluid {
    width: 100%;
}

@media(max-width: 992px) {

    .linhaMenu {
        display: none;
    }
    .search-area {
        display: flex;
        justify-content: center !important;
    }
}

@media(max-width: 533.34px) {
    .botao-menus:hover {
        color: #9B3737;
        font-size: 1em;
        transition: 0.5s;
    }
}

body {
    margin-bottom: 60px;
    background-color: #F6F6F6;
}

.field-validation-error {
    color: #e01d1d;
}


.logo-SI3 {
    margin-left: 10em;
}

.nav-items-right {
    margin-right: 10em;
}

.navbar {
    padding-top: 1em;
}




.navbar-nav li {
    margin-right: 3em;
    width: 100%;
}

.navbar-nav .menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.botao-menus {
    width: 6em;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    font-weight: 350;
    letter-spacing: 0.01em;
    color: #626262;
}

span {
    display: block;
}

.botao-menus:hover {
    color: #9B3737;
    font-weight: 500;
}

.menus-items {
    width: 32px;
    height: 32px;
}

.botaoLoginPrincipal {
    word-spacing: 10px;
    font-weight: 650;
    color: #9B3737;
    font-size: 20px;
    width: 180px;
    height: 53px;
    border-radius: 25px;
    background-color: transparent;
    border-color: #9B3737;
    transform: 0.5s;
}

    .botaoLoginPrincipal:active {
        width: 185px !important;
        background-color: #9B3737 !important;
        border-color: red !important;
        color: white !important;
        transition: 0.5s !important;
    }

.menus {
    width: 100%;
    align-items: center;
}

.botaoLoginPrincipal:hover {
    width: 185px;
    background-color: rgba(155, 55, 55, 15%);
    border-color: red;
    color: #9B3737;
    transition: 0.5s;
}


.divPostagem.comentario {
    background-color: #f9f9f9;
    height:100px;
}

.pic-post.comentario{
    margin-top:20% !important;
}

.post-conteudo.comentario{
    font-size:0.8em;
}

.divPoste.comentario{
    margin-top: 0 !important;
}

.inputTxtPublicacao.comentario {
    background-color: #f9f9f9;
    height: 45px;
}

.inputTxtPublicacao {
    background-color: #FCFCFC;
}

.btnPublicar {
    background-color: White;
    color: #9B3737;
    font-weight: 500;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    width: 10em;
    border-radius: 50px;
}

    .btnPublicar:hover {
        background-color: #9B3737;
        color: white;
        border-color: #9B3737;
    }
    .btnPublicar:active {
        background-color: #913333 !important;
        color: white !important;
        border-color: #9B3737 !important;
    }


.inputTxtPublicacao:focus {
    box-shadow: 0 0 0 0.1rem rgba(155, 55, 55, 50%);
}

.pic-post {
    width:80px !important;
    height:80px !important;
}

.pic-compartilhado{
    width:32px !important;
    height:32px !important;
}