@section styles{
    <link rel="stylesheet" href="~/css/user-body.css" asp-append-version="true" />
}

<div class="container-fluid container-body">
    <section class="section-home2">
        <div class="row principal" id="divPrincipal2">
            <div class="col texto" id="divTextoHome2">
                <p class="home-title" style="text-align:center !important;" id="home2">Ooops! Essa página ainda não está disponível</p>
                <p class="legenda align-items-center justify-content-center" style="display:flex;" id="legenda2">Estamos fazendo o possível para trazer esta página o mais rápido possível </p><br>
                <p class="descricao" id="descricao2">Estamos buscando sempre melhorar o projeto e contamos com sua paciência neste momento. A área de chat ainda não está disponível nesta versão do software, mas não se preocupe. Em pouco tempo teremos novidade sobre o Chat na Rede Social. Mas você pode continuar criando e compartilhando ideias na rede 😊. <br />  Agradecemos o apoio.</p><br>
            </div>
        </div>
    </section>
</div>
