@using ProjetoFatec.ViewModels
@{
    ViewData["Title"] = "Home Page";
    var x = ViewData["Claims"] as CookiesViewModel;
    var y = "xxx";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Bem-vindo, @x.Nome</a>.</p>
</div>
